---
import SocialList from "@/components/SocialList.astro";
// import PostPreview from "@/components/blog/PostPreview.astro";
import PageLayout from "@/layouts/Base.astro";
// import { getAllPosts, sortMDByDate } from "@/data/post";
import { Image } from "astro:assets";

// const MAX_POSTS = 10;
// const allPosts = await getAllPosts();
// const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

import heroImg from "@/assets/hero_unit.png";
---

<script>
	document.addEventListener("DOMContentLoaded", function () {
		const kenobi = document.getElementById("kenobi");

		if (kenobi) {
			kenobi.addEventListener("mouseover", () => {
				const img = document.querySelector("img");
				if (img) {
					img.src = "hello-there.avif";
				}
			});

			kenobi.addEventListener("mouseout", () => {
				const img = document.querySelector("img");
				if (img) {
					img.src = "hero_unit.png";
				}
			});
		}
	});
</script>

<PageLayout meta={{ title: "Cowsay.co Developer quotes and clichés to brighten your day 🐄🛸" }}>
	<section>
		<h1 class="title mb-6 inline-block cursor-pointer" id="kenobi">
			<span class="cactus-link">Hello there!</span> 🐄🛸
		</h1>
		<div class="flex justify-center">
			<Image alt="Cowsay" fetchpriority="high" loading="eager" src={heroImg} />
		</div>
		<br />
		<p class="mb-4">
			This is the homepage for the <a class="cactus-link" href="https://twitter.com/cowsayco"
				>Cowsay.co Twitter Bot</a
			>, a fun project that combines the classic command-line program cowsay from Tony Monroe in
			<a class="cactus-link" href="https://github.com/tnalpgge/rank-amateur-cowsay">1999</a> with the
			power of social media, for a daily dose of occitocine. Our bot tweets a curated quote each day,
			presented in the unique style of a cowsay ASCII art message and colored to lolcat standards.
		</p>
	</section>

	<section>
		<SocialList />
	</section>
	<!-- <section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section> -->
</PageLayout>
