---
import PageLayout from "@/layouts/Base.astro";
import { Image } from "astro:assets";
import heroImg from "@/assets/hero_unit.png";
---

<style>
	html[data-theme="dark"] #cta span {
		mix-blend-mode: plus-lighter;
	}

	html[data-theme="dark"] #cta:hover span {
		mix-blend-mode: color-dodge;
	}

	html[data-theme="dark"] #cta a {
		color: #29bc89;
	}

	.rainbow {
		background-color: #343a40;
		border-radius: 4px;
		color: #fff;
		cursor: pointer;
		padding: 8px 16px;
	}

	.rainbow-1:hover {
		background-image: linear-gradient(90deg, #3769ff 0%, #0cf088 40%, #ff1e42 75%, #3769ff 100%);
		animation: slidebg 10s linear infinite;
	}

	@keyframes slidebg {
		to {
			background-position: 24vw;
		}
	}
</style>

<script>
	document.addEventListener("DOMContentLoaded", function () {
		const kenobi = document.getElementById("kenobi");

		if (kenobi) {
			kenobi.addEventListener("mouseover", () => {
				const img = document.querySelector("img");
				if (img) {
					img.src = "hello-there.avif";
				}
			});

			kenobi.addEventListener("mouseout", () => {
				const img = document.querySelector("img");
				if (img) {
					img.src = "hero_unit.png";
				}
			});
		}
	});

	function getUserPref() {
		const lightModePref = window.matchMedia("(prefers-color-scheme: light)");
		const storedTheme = typeof localStorage !== "undefined" && localStorage.getItem("theme");
		return storedTheme || (lightModePref.matches ? "light" : "dark");
	}

	const theme = getUserPref();

	if (theme !== "dark") {
		const script = document.createElement("script");
		script.src = "https://platform.twitter.com/widgets.js";
		script.async = true;
		document.body.appendChild(script);
	}
	console.log("🚀 ~ getUserPref ~ getUserPref:", getUserPref());
</script>

<PageLayout meta={{ title: "developer jokes" }}>
	<section>
		<h1 class="title mb-6 inline-block cursor-pointer" id="kenobi">
			<span>Hello there! 🐄 </span>
		</h1>

		<div class="flex justify-center">
			<Image alt="Cowsay" fetchpriority="high" loading="eager" src={heroImg} />
		</div>
		<br />
		<p class="mb-4">
			This is the homepage for the <a class="cactus-link" href="https://twitter.com/cowsayco"
				>@cowsayco</a
			> Twitter bot. This fun project combines the classic command-line program <a
				class="cactus-link"
				href="https://github.com/tnalpgge/rank-amateur-cowsay">Cowsay from Tony Monroe</a
			>
			in 1999 with the power of social media for a daily dose of oxytocin. Our bot tweets a curated quote
			each day, presented in the unique style of a cowsay, ASCII art message and coloured to lolcat standards.
		</p>
	</section>

	<section id="cta" class="my-6 h-7 w-full leading-7">
		<a
			class="twitter-follow-button rainbow rainbow-1"
			href="https://twitter.com/cowsayco?ref_src=twsrc%5Etfw"
			data-size="large"><span>Follow @cowsayco</span></a
		>
	</section></PageLayout
>
