---
import PageLayout from "@/layouts/Base.astro";
import { Image } from "astro:assets";
import heroImg from "@/assets/hero_unit.png";
---

<style>
	html[data-theme="dark"] #cta span {
		mix-blend-mode: color-dodge;
	}

	html[data-theme="dark"] #cta:hover span {
		mix-blend-mode: color-dodge;
	}

	html[data-theme="dark"] #cta a {
		color: #29bc89;
	}

	.rainbow {
		background-color: #343a40;
		border-radius: 4px;
		color: #fff;
		cursor: pointer;
		padding: 8px 16px;
	}

	.rainbow-1:hover {
		background-image: linear-gradient(
			90deg,
			#3769ff 0%,
			#3769ff 12%,
			#b7f00c 45%,
			#ff1e42 70%,
			#3769ff 100%
		);
		animation: slidebg 10s linear infinite;
	}

	@keyframes slidebg {
		to {
			background-position: 24vw;
		}
	}
</style>

<script>
	document.addEventListener("DOMContentLoaded", function () {
		const kenobi = document.getElementById("kenobi");
		const img = document.querySelector("img");
		const title = document.getElementById("abduction");

		if (kenobi) {
			kenobi.addEventListener("mouseover", () => {
				if (img) img.src = "hello-there.avif";
				if (title) title.textContent = "Hello there! 🛸";
			});

			kenobi.addEventListener("mouseout", () => {
				if (img) img.src = "hero_unit.png";
				if (title) title.textContent = "Hello there! 🐄";
			});
		}
	});
</script>

<PageLayout meta={{ title: "developer jokes" }}>
	<section>
		<h1 class="title mb-6 inline-block cursor-pointer" id="kenobi">
			<span id="abduction">Hello there! 🐄 </span>
		</h1>

		<div class="flex justify-center">
			<Image alt="Cowsay" fetchpriority="high" loading="eager" src={heroImg} />
		</div>
		<br />
		<p class="mb-4">
			This is the homepage for <a class="cactus-link" href="https://twitter.com/cowsayco"
				>@cowsayco</a
			> Twitter account. This fun project combines the classic command-line program <a
				class="cactus-link"
				href="https://github.com/tnalpgge/rank-amateur-cowsay">cowsay from Tony Monroe</a
			>
			in 1999 with the power of social media for a daily dose of oxytocin. Our bot tweets a curated quote
			each day, presented in the unique style of a cowsay, ASCII art message and coloured to lolcat standards.
		</p>
	</section>

	<section id="cta" class="my-6 h-7 w-full leading-7">
		<a
			class="rainbow rainbow-1"
			href="https://twitter.com/cowsayco?ref_src=twsrc%5Etfw"
			data-size="large"><span>Follow @cowsayco</span></a
		>
	</section></PageLayout
>
